@model IEnumerable<Customer>

<h2>Customer List</h2>

<form asp-action="Index" method="get">
    <div class="form-group">
        <input type="text" name="searchString" placeholder="Search by Last Name or First Name" />
        <input type="submit" value="Search" class="btn btn-primary" />
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Address</th>
            <th>Dicount</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model)
        {
            <tr>
                <td>@customer.Id</td>
                <td>@customer.Fname</td>
                <td>@customer.Lname</td>
                <td>@customer.Address</td>
                <td>@customer.Discount</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = customer.Id }) |
                    @Html.ActionLink("Details", "Get", new { id = customer.Id }) |
@* 
                    <form asp-action="Del" asp-controller="Customer" method="post">
                        @Html.HiddenFor(id => customer.Id)
                        <input type="submit" value="Delete" class="btn btn-danger" />
                    </form> *@
                    @Html.ActionLink("Delete", "Del", new { id = customer.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
